table {
    margin-top: 1.5em;
}

tbody td {
    text-align: right;
}
td{
    text-align: right;
    border-color: rgba(255,255,255,.1);
    padding: 12px 7px;
    vertical-align: middle;
    padding: 1rem;
    vertical-align: top;
    border-top: .0625rem solid #e3e3e3;
}
th {
    border-color: rgba(255,255,255,.1);
    padding: 12px 7px;
    vertical-align: middle;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border: 0;
    color: rgba(255,255,255,.7);
}