<div>
    <h2 *ngIf="!itemInfo || itemInfo.id === undefined">Add or Update item</h2>
    <h2 *ngIf="itemInfo && itemInfo.id !== undefined">Update Item (ID: )</h2>    <form>
        <div class="form-group">
            <label for="name-input">Name:</label>
            <input type="text" id="name-input" [(ngModel)]="itemInfo.name" class="form-control" name="name"/>
        </div>
        <div class="form-group">
            <label for="price-input">Price</label>
            <input type="text" id="price-input" [(ngModel)]="itemInfo.price" class="form-control" name="price"/>
        </div>
        <button type="button" class="btn btn-primary" (click)="editItemRecord($event);">Save</button>

    </form>
   </div>